sandp500/individual_stocks_5yr/
*.local

mnist_data/

cryptocurrencypricehistory/

*.csv

\.DS_Store

\.idea/

__pycache__/

copied\.py

garbage\.py

seq_prediction_altynbek\.py
Data/SnP_figures/AAL_close\.png
